<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">About</h1>
      <p class="lead text-muted">このサイトは近くの公園で気軽にヨガをするためのサイトです</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="img"><%= image_tag("ignacio-brosa-vJDbPuxUS_s-unsplash.jpg",style: "width:100%; ") %></div>
            <div class="card-body">
              <p class="card-text">近くの公園を探して、ヨガイベントを開催し、自分が開催者になる。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <div class="img"><%= image_tag("cherrydeck-UpsEF48wAgk-unsplash.jpg",style: "width:100%; ") %></div>
            <div class="card-body">
              <p class="card-text">住んでいる近くのイベントを探して参加し、自分が参加者になる。</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="img"><%= image_tag("kaylee-garrett-GaprWyIw66o-unsplash-3.jpg",style: "width:100%; ") %></div>
            <div class="card-body">
              <p class="card-text">参加したイベントでいろんな人とヨガを楽しむ。</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">サイトについて</h1>

      <p class="lead text-muted">・近くの公園でヨガをすることができるので、遠くのヨガスタジオに行くことがなくヨガをすることができる</p>
      <p class="lead text-muted ">・日光に当たりながらヨガができるのでリフレッシュできる</p>
      <p class="lead text-muted">・いつもとは違う環境でヨガを楽しむことができる</p>
      <p class="lead text-muted">・近隣のヨガ好きユーザーと繋がることができる</p>
      <p class="lead text-muted">・公園でヨガをすることによって自然を大事にするきっかけになる</p>

    </div>

</main>