

<div class="display-3 font-weight-bold text-center mt-5">Yoga in the park</div>
<div class="container">
 <div class="row mt-5 justify-content-center">
  <div id="box">
   <div id="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
   </div>
  </div>
 </div>
</div>

<div class="text-center mt-5">
 <% if user_signed_in? %>
  <% else %>
  <%= link_to "ユーザー登録",new_user_registration_path, class: "btn btn-secondary" %>
  <% end %>
</div>
