/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.user{
 text-align: center;
}

.form_title{
 font-size: 25px;
}

.user_form{
 margin-top: 100px;
}

.date{
 display: initial;
 width: initial;
}

table{
 border-collapse: separate;
 border-spacing: 50px 5px;
}

.my_page{
margin: 10px 50px 20px;
}

.form{
    margin: 0 auto;
    width: 80%
}



.border{
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ccc), to(transparent));
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
}


#box{
  width: 800px;
  height: 500px;
}
.image1 {
  background-image: url(anant-sharma-ApX7UaSSf3A-unsplash.1.jpg);
}
.image2 {
  background-image: url(ignacio-brosa-vJDbPuxUS_s-unsplash.jpg);
}
.image3 {
  background-image: url(katee-lue-eLYDW_WuE5o-unsplash.jpg);
}
.image4 {
  background-image: url(kaylee-garrett-GaprWyIw66o-unsplash-3.jpg);
}

.cp_hr06 {
	position: relative;
	height: 1px;
	border-width: 0;
	background-image: -webkit-linear-gradient(left,
	transparent 0%,#283593 50%,transparent 100%);
	background-image:         linear-gradient(90deg,
	transparent 0%,#283593 50%,transparent 100%);
}

body {
  background-image: image-url("hoge.jpg");
}